@page
@model FoodAnalyzer.Pages.AnalyzeModel
@{
}
<div>
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label asp-for="FormFile"></label>
            </dt>
            <dd>
                <input asp-for="FormFile" type="file">
                <span asp-validation-for="FormFile" style="color:red"></span>

            </dd>
        </dl>
        <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload" />
    </form>
    @if (!string.IsNullOrEmpty(Model.FoodType))
    {
        <div style="display:inline-block">
            <img decoding="async" src="@Model.UploadedFile" />
            @if (!string.IsNullOrEmpty(Model.DetectedFood))
            {
                <div style="width:500px; display:inline-block">
                    <div style="font-size:24px; width:40%; display:inline-block;"><strong>Detected Food: </strong></div>
                    <div style="font-size:24px; width:40%; color:blue; display:inline-block;">@Model.DetectedFood</div>
                </div>

            }
        </div>
        <div class="status-container">
            @if (Model.FoodType == "Green")
            {
                <div class="status text-green"><strong>Your food is good in nutrition</strong></div>
                <div class="status text-green"><strong>and it contains following nutrients:</strong></div>
            }
            else if (Model.FoodType == "Red")
            {
                <div class="status text-red"><strong>Your food is not good for health</strong></div>
            }
            else if (Model.FoodType == "Yellow")
            {
                <div class="status text-blue"><strong>Your food is unhealthy but can be consumed in limited quantity</strong></div>
                <div class="status text-blue"><strong>and it contains following nutrients:</strong></div>
            }
        </div>
        @if (Model.FoodType != "Red")
        {
            <div class="status-container" style="height:auto;">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Calories"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Calories</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Total_Fat"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Total_Fat</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Saturated_Fat"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Saturated_Fat</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Cholesterol"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Cholesterol</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Sodium"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Sodium</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Total_Carbohydrate"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Total_Carbohydrate</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Dietary_Fiber"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Dietary_Fiber</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Sugars"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Sugars</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Protein"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Protein</td>
                        </tr>
                        <tr>
                            <td><strong><label asp-for="FoodNutrition.Nf_Potassium"></label></strong></td>
                            <td>@Model.FoodNutrition.Nf_Potassium</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        }

    }
</div>